venv/
venv_local_backup/
__pycache__/
*.pyc
.ipynb_checkpoints/
.streamlit/
page_*.html
page_*.png
database/jobs_before_phase17.db
dashboard/app_before_phase19.py
scraper/job_classifier_before_phase20.py
database/jobs_before_restore_phase20.db
dashboard/app_before_phase21.py
main_before_phase22.py
main_before_phase23.py
.github/workflows/scraper_before_phase24.yml
scraper/naukri_scraper_before_phase25.py
scraper/naukri_scraper_before_phase25.py
main_before_phase26.py
.github/workflows/scraper_before_phase26.yml
